<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Saratov/css/forms_style.css'%}"/>
</head>
<body>
    {% if messages %}
    <div class="" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <p></p>

    <div class="formFullWrapper">
        <form action="/login/" method="post"> {% csrf_token %}
            {% for field in form %}
            <div class="formFieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
            <div class="formInputButton"><input type="submit"></div>
        </form>
    </div>

</body>
</html>